version: '3.8'

services:
  api:
    build: .
    container_name: gatcha_generator_api
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file:
      - .env
    networks:
      - gatcha_network

networks:
  gatcha_network:
    driver: bridge
