version: '3.8'

services:
  api:
    build: .
    container_name: gatcha_generator_api
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - minio
    networks:
      - gatcha_network

  minio:
    image: minio/minio
    container_name: gatcha_generator_minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password123
    volumes:
      - ./minio_data:/data
    command: server /data --console-address ":9001"
    networks:
      - gatcha_network

networks:
  gatcha_network:
    driver: bridge

volumes:
  minio_data:
